<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

    {{>navbar}}

    <!-- main header  -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hey! I am ShaiKh Mudassir</p>
                        <h1>I am a <span class="w-clr">React Developer</span>.</h1>
                        <a href="https://github.com/muddi2412/"><button>About me</button></a>
                    </div>
                    <!-- right  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/pic.jpg" alt="mypic" class="img-fluid" title="Muddi ShaiKh">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

     {{>footter}}

</body>

</html>