<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

    {{>navbar}}

    <!-- main header  -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter Your City Name...">
                        <input type="submit" value="search" id="submitbtn">
                    </form>
                </div>
                <div class="tempinfo">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="today_date">28 March</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_span">0</span> <sup>o</sup>C</p>
                            <p id="temp_status"><i class="fas fa-cloud"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footter}}

    <script src="js/main.js"></script>
    <script>

        const getCurDay = () => {
            let weekday = new Array(7);
            weekday[0] = 'Sunday';
            weekday[1] = 'Monday';
            weekday[2] = 'Tuesday';
            weekday[3] = 'Wednesday';
            weekday[4] = 'Thursday';
            weekday[5] = 'Friday';
            weekday[6] = 'Saturday';

            let curTime = new Date();
            let Days = weekday[curTime.getDay()];
            let day = document.getElementById('day');
            day.innerText = Days;
            let date = curTime.getDate();
            let month = new Array();
            month[0] = "January";
            month[1] = "February";
            month[2] = "March";
            month[3] = "April";
            month[4] = "May";
            month[5] = "June";
            month[6] = "July";
            month[7] = "August";
            month[8] = "September";
            month[9] = "October";
            month[10] = "November";
            month[11] = "December";
            let nummonth = month[curTime.getMonth()];
            let Today_date = document.getElementById('today_date');
            Today_date.innerText = ` ${date} ${nummonth}`;
        };
        getCurDay();


    </script>

</body>

</html>